* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: clamp(310px, 50%, 650px);
  margin: 0 auto;
}

.header {
  margin: 50px 0;
  text-align: center;
}

.subtitle{
  text-align: center;
  margin: 30px 0;
}

.section{
  margin-bottom: 20px;
}



