* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.header {
  margin: 50px 0;
  text-align: center;
}



.subtitle{
  text-align: center;
  margin: 30px 0;
}



