* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.header {
  margin: 50px 0;
  text-align: center;
}



.subtitle{
  text-align: center;
  margin-top: 30px;
}


.convert__inputs{
  height: 30px;
  margin: 0 auto;
}

.convert__input {
  display: inline-block;
  height: 100%;
  padding: 10px;

  border-radius: 5px 0px 0px 5px;
  border: 1px solid grey;
}

.convert__select {
  display: inline-block;
  height: 100%;
  width: 70px;
  padding-left: 7px;

  border-radius: 0px 5px 5px 0px;
  border: 1px solid grey;
}
